@font-face {
    font-family: 'IBMPlexSerif';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: 
        url('../fonts/convert/IBMPlexSerif-Light.woff2') format('woff2'),
        url('../fonts/convert/IBMPlexSerif-Light.woff') format('woff'),
}

@font-face {
    font-family: 'IBMPlexSerif';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
        url('../fonts/convert/IBMPlexSerif-Regular.woff2') format('woff2'),
        url('../fonts/convert/IBMPlexSerif-Regular.woff') format('woff'),
}

@font-face {
    font-family: 'IBMPlexSerif';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src:
        url('../fonts/convert/IBMPlexSerif-Medium.woff2') format('woff2'),
        url('../fonts/convert/IBMPlexSerif-Medium.woff') format('woff'),
}

@font-face {
    font-family: 'IBMPlexSerif';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src:
        url('../fonts/convert/IBMPlexSerif-SemiBold.woff2') format('woff2'),
        url('../fonts/convert/IBMPlexSerif-SemiBold.woff') format('woff'),
}

@font-face {
    font-family: 'Pacifico';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src:
        url('../fonts/convert/Pacifico.woff2') format('woff2'),
        url('../fonts/convert/Pacifico.woff') format('woff'),
}