//Цвета
$accent: #F5B437;
$special: #144602;
$background: #f4f4f4;
$main: #ffffff;
$excretion: #338216;
$blackout: #333333;
$error: #fa3a3a;

//Текст
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;

$ibm: 'IBMPlexSerif', serif;
$pac: 'Pacifico';

//Адаптив
$lx: 1350;
$xl: 1220;
$lg: 992;
$md: 767; 
$sm: 576;
$lm: 470;

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}