.pricing-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__name,
    &__items,
    &__price {
        position: relative;
        z-index: 10;
    }

    &__name {
        padding: 33px 15px 0;
        display: block;
        text-align: center;
        margin-bottom: 25px;

        @include max-w($xl) {
            padding: 13px 5px 0;
            margin-bottom: 5px;
        }
    }

    &__items {
        margin-bottom: 53px;
        padding: 0 15px;

        @include max-w($xl) {
            margin-bottom: 35px;
            padding: 0 10px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        padding: 7px 0 7px 55px;

        @include adaptiv-value("font-size", 20, 17, 0);
        line-height: 1.9;
        font-weight: $fw-400;

        @include max-w($lg) {
            line-height: 1.7;
        }

        @include max-w($sm) {
            line-height: 1.5;
        }

        @include max-w($lg) {
            padding-left: 48px;
        }

        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 15, 10, 0);
        }

        &::before {
            content: "";
            position: absolute;
            top: 25px;
            left: 0;
            transform: translateY(-50%);
            border: 2px solid $accent;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 25px 25px;

            @include max-w($lg) {
                width: 38px;
                height: 38px;
                background-size: 23px 23px;
            }
        }

        &--age12 {
            &::before {
                background-image: url("../img/icon/services/age12-icon.svg");
            }
        }

        &--age7 {
            &::before {
                background-image: url("../img/icon/services/age7-icon.svg");
            }
        }

        &--time {
            &::before {
                background-image: url("../img/icon/services/time-icon.svg");
            }
        }

        &--view {
            &::before {
                background-image: url("../img/icon/about/view-icon.svg");
            }
        }

        &--trainer {
            &::before {
                background-image: url("../img/icon/about/trainer-icon.svg");
            }
        }

        &--map {
            &::before {
                background-image: url("../img/icon/services/map-icon.svg");
            }
        }

        &--car {
            &::before {
                background-image: url("../img/icon/services/car-icon.svg");
            }
        }
    }


    &__price {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: 30px;
        @include adaptiv-value("font-size", 24, 20, 0);
        font-weight: $fw-500;
        line-height: 1.6;
        color: $excretion;

        @include max-w($xl) {
            margin-bottom: 15px;
        }

        &::before {
            content: "";
            position: absolute;
            top: -25px;
            height: 3px;
            left: 0;
            right: 0;
            width: 100%;
            background-color: $main;

            @include max-w($xl) {
                top: -15px;
            }
        }
    }

    &__cost {
        position: relative;
        padding: 0 15px;

        &::before {
            content: "";
            position: absolute;
            left: -15px;
            top: 4px;
            width: 25px;
            height: 30px;
            background-repeat: no-repeat;
            background-image: url('../img/icons/ruble-icon.svg');
            background-size: 25px 30px;

            @include max-w($lg) {
                width: 20px;
                height: 25px;
                background-size: 20px 25px;
                top: 6px;
                left: -12px;
            }
        }
    }

    &--photoshoot {
        .pricing-card__items {
            margin-bottom: 49px;
        }
    }
}