.social {
    display: flex;

    &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__link {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        background-color: $background;
        box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        transition: background-color 0.3s, border 0.3s, transform 0.3s;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px 20px;
        border: 2px solid transparent;

        &:focus {
            border-color: $accent;
        }

        &:hover {
            transform: translateY(-4px);
        }

        &:active {
            background-color: $main;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
    }
}