.trainer-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__top {
        position: relative;
        max-width: 370px;
        width: 100%;
        height: 307px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
        display: inline-block;

        @include max-w($lg) {
            height: 290px;
        }
    }

    &__img {
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 100%;
    }

    &__table {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $background;
        padding: 8px 15px;

        @include max-w($lg) {
            padding: 5px 10px;
        }
    }

    &__profession {
        font-size: 16px;
    }

    &__body {
        padding: 10px 12px 0;
        margin-bottom: 47px;

        @include max-w($xl) {
            margin-bottom: 35px;
        }
    }

    &__name {
        text-align: center;
        font-size: 22px;
        letter-spacing: 2px;
        margin-bottom: 20px;

        @include max-w($lg) {
            margin-bottom: 15px;
        }

        span {
            display: block;
        }
    }

    &__achievements {
        display: flex;
        flex-direction: column;
    }

    &__achievement {
        position: relative;
        font-weight: $fw-300;
        letter-spacing: 1px;
        padding-left: 50px;

        &::after {
            content: "";
            position: absolute;
            left: 15px;
            top: 9px;
            width: 20px;
            height: 15px;
            background-image: url('../img/icons/check-icon.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        &:not(:last-child) {
            margin-bottom: 15px;

            @include max-w($lg) {
                margin-bottom: 12px;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: auto;
        margin-bottom: 32px;

        @include max-w($xl) {
            margin-bottom: 15px;
        }

        &::after {
            content: "";
            position: absolute;
            top: -20px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: $background;

            @include max-w($lx) {
                top: -12px;
            }
        }
    }
}