<section class="about" id="about">
    <div class="about__top">
        <div class="container">
            <h2 class="about__title title">
                о нас
            </h2>
            <div class="about__text">
                <p>
                    Конноспортивный клуб "Контур" был основан в 1990 году и сразу стал пользоваться популярностью.
                </p>
                <p>
                    На сегодняшний день наш КСК является одним из самых крупных и известных клубов
                    в Московской области, на территории которого размещается около 100 голов.
                </p>
                <p>
                    У клуба очень удачное месторасположение. Мы находимся недалеко от Москвы, поэтому вы сможете
                    приехать к
                    нам в любое удобное для вас время и насладиться великолепной природой.
                </p>
            </div>
        </div>
        <a class="about__video" data-fancybox href="https://www.youtube.com/watch?v=md4pg0eVRF0&feature=emb_logo" style="background-image: url('img/video.jpg');">
            <span class="visually-hidden">
                Открыть видео 
            </span>
        </a>
    </div>

    <div class="container container--big">
        <div class="advantages">
            <ul class="advantages__items">
                <li class="advantages__item advantages__item--bus">
                    <div class="advantages__body">
                        <h3 class="advantages__name">
                            Легко добраться
                        </h3>
                        <div class="advantages__text">
                            <p>
                                В пяти минутах ходьбы
                                от КСК находится автобусная остановка.
                                Общественный транспорт ходит каждые 15 минут.
                            </p>
                        </div>
                    </div>
                </li>

                <li class="advantages__item advantages__item--view">
                    <div class="advantages__body">
                        <h3 class="advantages__name">
                            Красивые виды
                        </h3>
                        <div class="advantages__text">
                            <p>
                                Недалеко находится водоем, территорию КСК окружают поля и леса.
                            </p>
                        </div>
                    </div>
                </li>

                <li class="advantages__item advantages__item--trainer">
                    <div class="advantages__body">
                        <h3 class="advantages__name">
                            Лучшие тренеры
                        </h3>
                        <div class="advantages__text">
                            <p>
                                В нашем клубе работают
                                опытнае специалисты, у которых большой стаж
                                в тренерской деятельности.
                            </p>
                        </div>
                    </div>
                </li>

                <li class="advantages__item advantages__item--horse">
                    <div class="advantages__body">
                        <h3 class="advantages__name">
                            Много лошадей
                        </h3>
                        <div class="advantages__text">
                            <p>
                                В нашем КСК находится около 100 голов, мы сможем подобрать лошадь под ваш уровень.
                                А для занятий с детьми есть пони.
                            </p>
                        </div>
                    </div>
                </li>

                <li class="advantages__item advantages__item--conditions">
                    <div class="advantages__body">
                        <h3 class="advantages__name">
                            Хорошие условия
                        </h3>
                        <div class="advantages__text">
                            <p>
                                Плохая погода не помешает занятиям, на территории есть 2 крытых манежа (40*20), 2 плаца
                                (60*20) с хорошим грунтом и теплая раздевалка.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>