<footer class="footer" id="footer">
    <div class="container">
        <div class="footer__inner">
            <p class="footer__text">
                КСК “Контур”
            </p>
            <a class="logo footer__logo" href="#body">
                <span class="visually-hidden">
                    По клику вы переместитесь на верх сайта
                </span>
                <img class="logo__img footer__img" src="img/logo.png" alt="Логотип">
            </a>
            <p class="footer__text">
                © Все права защищены
            </p>
        </div>
    </div>
</footer>