<section class="gallery">
    <div class="container">
        <div class="gallery__inner">
            <h2 class="gallery__title title">
                галерея
            </h2>
            <span class="visually-hidden">
                Фильтр фотографий
            </span>
            <ul class="filter">
                <li class="filter__item">
                    <button class="filter__btn filter__btn--active category" type="button" data-filter=".category-cup">
                        кубок гагрина
                    </button>
                </li>
                <li class="filter__item">
                    <button class="filter__btn category" type="button" data-filter=".category-area">
                        чемпионат области
                    </button>
                </li>
                <li class="filter__item">
                    <button class="filter__btn category" type="button" data-filter=".category-festival">
                        фестиваль 2020
                    </button>
                </li>
            </ul>

            <div class="gallery__content">
                <ul class="gallery__show">
                    <!--Кубок Гагарина-->
                    <li class="gallery__item gallery__item--a mix category-cup">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/cup/1.jpg"></a>
                        <img class="gallery__img" src="img/gallery/cup/1.jpg" alt="Кубок Гагарина"> 
                    </li>
                    <li class="gallery__item gallery__item--b mix category-cup">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/cup/2.jpg"></a>
                        <img class="gallery__img" src="img/gallery/cup/2.jpg" alt="Кубок Гагарина">
                    </li>
                    <li class="gallery__item gallery__item--c mix category-cup">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/cup/3.jpg"></a>
                        <img class="gallery__img" src="img/gallery/cup/3.jpg" alt="Кубок Гагарина">
                    </li>
                    <li class="gallery__item gallery__item--d mix category-cup">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/cup/4.jpg"></a>
                        <img class="gallery__img" src="img/gallery/cup/4.jpg" alt="Кубок Гагарина">
                    </li>
                    <li class="gallery__item gallery__item--e mix category-cup">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/cup/5.jpg"></a>
                        <img class="gallery__img" src="img/gallery/cup/5.jpg" alt="Кубок Гагарина">
                    </li>

                    <!--Чемпионат области-->
                    <li class="gallery__item gallery__item--a mix category-area">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/area/1.jpg"></a>
                        <img class="gallery__img" src="img/gallery/area/1.jpg" alt="Чемпионат области">
                    </li>
                    <li class="gallery__item gallery__item--b mix category-area">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/area/2.jpg"></a>
                        <img class="gallery__img" src="img/gallery/area/2.jpg" alt="Чемпионат области">
                    </li>
                    <li class="gallery__item gallery__item--c mix category-area">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/area/3.jpg"></a>
                        <img class="gallery__img" src="img/gallery/area/3.jpg" alt="Чемпионат области">
                    </li>
                    <li class="gallery__item gallery__item--d mix category-area">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/area/4.jpg"></a>
                        <img class="gallery__img" src="img/gallery/area/4.jpg" alt="Чемпионат области">
                    </li>
                    <li class="gallery__item gallery__item--e mix category-area">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/area/5.jpg"></a>
                        <img class="gallery__img" src="img/gallery/area/5.jpg" alt="Чемпионат области">
                    </li>

                    <!--Фестиваль 2020-->
                    <li class="gallery__item gallery__item--a mix category-festival">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/festival/1.jpg"></a>
                        <img class="gallery__img" src="img/gallery/festival/1.jpg" alt="Фестиваль 2020">
                    </li>
                    <li class="gallery__item gallery__item--b mix category-festival">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/festival/2.jpg"></a>
                        <img class="gallery__img" src="img/gallery/festival/2.jpg" alt="Фестиваль 2020">
                    </li>
                    <li class="gallery__item gallery__item--c mix category-festival">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/festival/3.jpg"></a>
                        <img class="gallery__img" src="img/gallery/festival/3.jpg" alt="Фестиваль 2020">
                    </li>
                    <li class="gallery__item gallery__item--d mix category-festival">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/festival/4.jpg"></a>
                        <img class="gallery__img" src="img/gallery/festival/4.jpg" alt="Фестиваль 2020">
                    </li>
                    <li class="gallery__item gallery__item--e mix category-festival">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/festival/5.jpg"></a>
                        <img class="gallery__img" src="img/gallery/festival/5.jpg" alt="Фестиваль 2020">
                    </li>
                </ul>

                <ul class="gallery__noshow">
                    <!--Кубок Гагарина-->
                    <li class="gallery__item gallery__item--c mix category-cup">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/cup/6.jpg"></a>
                        <img class="gallery__img" src="img/gallery/cup/6.jpg" alt="Кубок Гагарина">
                    </li>
                    <li class="gallery__item gallery__item--d mix category-cup">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/cup/7.jpg"></a>
                        <img class="gallery__img" src="img/gallery/cup/7.jpg" alt="Кубок Гагарина">
                    </li>
                    <li class="gallery__item gallery__item--e mix category-cup">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/cup/8.jpg"></a>
                        <img class="gallery__img" src="img/gallery/cup/8.jpg" alt="Кубок Гагарина">
                    </li>
                    <li class="gallery__item gallery__item--a mix category-cup">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/cup/9.jpg"></a>
                        <img class="gallery__img" src="img/gallery/cup/9.jpg" alt="Кубок Гагарина">
                    </li>
                    <li class="gallery__item gallery__item--b mix category-cup">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/cup/10.jpg"></a>
                        <img class="gallery__img" src="img/gallery/cup/10.jpg" alt="Кубок Гагарина">
                    </li>

                    <!--Чемпионат области-->
                    <li class="gallery__item gallery__item--c mix category-area">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/area/6.jpg"></a>
                        <img class="gallery__img" src="img/gallery/area/6.jpg" alt="Чемпионат области">
                    </li>
                    <li class="gallery__item gallery__item--d mix category-area">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/area/7.jpg"></a>
                        <img class="gallery__img" src="img/gallery/area/7.jpg" alt="Чемпионат области">
                    </li>
                    <li class="gallery__item gallery__item--e mix category-area">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/area/8.jpg"></a>
                        <img class="gallery__img" src="img/gallery/area/8.jpg" alt="Чемпионат области">
                    </li>
                    <li class="gallery__item gallery__item--a mix category-area">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/area/9.jpg"></a>
                        <img class="gallery__img" src="img/gallery/area/9.jpg" alt="Чемпионат области">
                    </li>
                    <li class="gallery__item gallery__item--b mix category-area">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/area/10.jpg"></a>
                        <img class="gallery__img" src="img/gallery/area/10.jpg" alt="Чемпионат области">
                    </li>

                    <!--Фестиваль 2020-->
                    <li class="gallery__item gallery__item--c mix category-festival">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/festival/6.jpg"></a>
                        <img class="gallery__img" src="img/gallery/festival/6.jpg" alt="Фестиваль 2020">
                    </li>
                    <li class="gallery__item gallery__item--d mix category-festival">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/festival/7.jpg"></a>
                        <img class="gallery__img" src="img/gallery/festival/7.jpg" alt="Фестиваль 2020">
                    </li>
                    <li class="gallery__item gallery__item--e mix category-festival">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/festival/8.jpg"></a>
                        <img class="gallery__img" src="img/gallery/festival/8.jpg" alt="Фестиваль 2020">
                    </li>
                    <li class="gallery__item gallery__item--a mix category-festival">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/festival/9.jpg"></a>
                        <img class="gallery__img" src="img/gallery/festival/9.jpg" alt="Фестиваль 2020">
                    </li>
                    <li class="gallery__item gallery__item--b mix category-festival">
                        <a class="gallery__link" data-fancybox="gallery" href="img/gallery/festival/10.jpg"></a>
                        <img class="gallery__img" src="img/gallery/festival/10.jpg" alt="Фестиваль 2020">
                    </li>
                </ul>
            </div>

            <div class="gallery__bottom">
                <button class="gallery__button button" type="button">
                    Показать еще
                </button>
                <p class="gallery__more">
                    Больше фотографий в
                    <a class="gallery__href" href="https://vk.com" target="blank">
                        ВКонтакте
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>