<header class="header" id="header">
    <h1 class="visually-hidden">
        КСК Контур - занятия конным спортом
    </h1>
    <div class="container">
        <div class="header__content">
            <nav class="header__inner">
                <div class="header__top">
                    <a class="logo header__logo" href="#footer">
                        <span class="visually-hidden">
                            По клику вы переместитесь вниз сайта
                        </span>
                        <img class="logo__img header__img" src="img/logo.png" alt="Логотип">
                    </a>
                </div>
                <ul class="menu">
                    <li class="menu__item">
                        <a class="menu__link" href="#services">
                            Услуги
                        </a>
                        <button class="menu__btn" type="button">
                            <span class="visually-hidden">
                                По клику откроется дополнительное меню с нашими услугами
                            </span>
                            <svg class="menu__icon">
                                <use xlink:href="img/sprite.svg#check-icon"></use>
                            </svg>
                        </button>

                        <ul class="drop">
                            <li class="drop__item">
                                <a class="drop__link" href="#services-professional">
                                    профессиональные занятия
                                </a>
                            </li>
                            <li class="drop__item">
                                <a class="drop__link" href="#services-classes">
                                    занятия верховой ездой
                                </a>
                            </li>
                            <li class="drop__item">
                                <a class="drop__link" href="#services-walks">
                                    прогулки и походы
                                </a>
                            </li>
                            <li class="drop__item">
                                <a class="drop__link" href="#services-photoshoot">
                                    фотосессии с лошадьми
                                </a>
                            </li>
                            <li class="drop__item">
                                <a class="drop__link" href="#services-wait">
                                    постой лошадей
                                </a>
                            </li>
                            <li class="drop__item">
                                <a class="drop__link" href="#services-events">
                                    проведение мероприятий
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#about">
                            О нас
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#reviews">
                            Отзывы
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#contact">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <a class="header__phone" href="tel:+0140000199">
                + 014 000 01 99
            </a>
            <button class="burger" type="button">
                <span class="visually-hidden">
                    По клику откроется мобильное меню
                </span>
                <span class="burger__line"></span>
            </button>
        </div>
    </div>
</header>