<section class="main-slider">
    <span class="visually-hidden">
        Слайдер с нашими услугами
    </span>
    <ul class="main-slider__items">
        <li class="main-slider__item" style="background-image: url('img/main-slider/1.jpg')">
            <div class="container container--big">
                <div class="main-slider__offer">
                    <p class="main-slider__heading title">
                        профессиональные занятия
                    </p>
                    <div class="main-slider__text">
                        <p>
                            Индивидуальные и групповые занятия конкуром/выездкой/вольтижировкой для детей и взрослых
                        </p>
                    </div>
                    <a class="main-slider__link button" href="#services-professional">
                        Узнать подробности
                    </a>
                </div>
            </div>
        </li>

        <li class="main-slider__item" style="background-image: url('img/main-slider/2.jpg')">
            <div class="container container--big">
                <div class="main-slider__offer">
                    <p class="main-slider__heading title">
                        походы и прогулки на лошадях
                    </p>
                    <div class="main-slider__text">
                        <p>
                            Прогулки и походы по живописным местам от нескольких часов до нескольких дней.
                        </p>
                    </div>
                    <a class="main-slider__link button" href="#services-walks">
                        Узнать подробности
                    </a>
                </div>
            </div>
        </li>

        <li class="main-slider__item" style="background-image: url('img/main-slider/3.jpg')">
            <div class="container container--big">
                <div class="main-slider__offer">
                    <p class="main-slider__heading title">
                        фотосессии с лошадьми
                    </p>
                    <div class="main-slider__text">
                        <p>
                            Наши профессиональные фотографы помогут запечатлеть лучшие моменты.
                        </p>
                    </div>
                    <a class="main-slider__link button" href="#services-photoshoot">
                        Узнать подробности
                    </a>
                </div>
            </div>
        </li>

        <li class="main-slider__item" style="background-image: url('img/main-slider/4.jpg')">
            <div class="container container--big">
                <div class="main-slider__offer">
                    <p class="main-slider__heading title">
                        организация экскурсий
                    </p>
                    <div class="main-slider__text">
                        <p>
                            Мы организовываем экскурсии на территорию нашего КСК для детей и взрослых
                        </p>
                    </div>
                    <a class="main-slider__link button" href="#services-events">
                        Узнать подробности
                    </a>
                </div>
            </div>
        </li>

        <li class="main-slider__item" style="background-image: url('img/main-slider/5.jpg')">
            <div class="container container--big">
                <div class="main-slider__offer">
                    <p class="main-slider__heading title">
                        постой лошадей
                    </p>
                    <div class="main-slider__text">
                        <p>
                            Аренда денников с самыми лушими условиями для ваших лошадей.
                        </p>
                    </div>
                    <a class="main-slider__link button" href="#services-wait">
                        Узнать подробности
                    </a>
                </div>
            </div>
        </li> 
    </ul>
</section>