<div class="popup popup-success">
    <div class="popup__inner">
        <div class="popup__body">
            <div class="popup__icon icon">
                <svg class="popup__badge">
                    <use xlink:href="img/sprite.svg#check-icon"></use>
                </svg>
            </div>
            <div class="popup__content">
                <span class="popup__title">
                    Заявка отправлена!
                </span>
                <p class="popup__text">
                    В ближайшее время с Вами свяжется наш менеджер!
                </p>
                <button class="popup__button popup__button--success button" type="button">
                    Хорошо
                </button>
            </div>
        </div>
    </div>
</div>

<div class="popup popup-error">
    <div class="popup__inner">
        <div class="popup__body">
            <svg class="popup__icon popup-error__icon icon">
                <use xlink:href="img/sprite.svg#error-icon"></use>
            </svg>
            <div class="popup__content">
                <span class="popup__title">
                    Упс, что-то пошло не так!
                </span>
                <p class="popup__text">
                    Нужно заполнить все поля ввода!
                </p>
                <button class="popup__button popup__button--error button" type="button">
                    Хорошо
                </button>
            </div>
        </div>
    </div>
</div>