<section class="question">
    <div class="question__bg" style="background-image: url('img/question-bg.jpg');"></div>
    <div class="container">
        <div class="question__body">
            <h2 class="question__title title">
                вопросы
            </h2>
            <ul class="question__items">
                <li class="question__item">
                    <button class="question__top" type="button">
                        Что взять на первое занятие?
                    </button>
                    <div class="question__answer">
                        <p>
                            На первое занятие нужно одеться так, как вам будет удобнее.
                            Остальные необходимые вещи (краги, шлем, перчатки) вам выдадут на конюшне.
                        </p>
                    </div>
                </li>
                <li class="question__item">
                    <button class="question__top" type="button">
                        Можно ли чем-то угостить лошадь?
                    </button>
                    <div class="question__answer">
                        <p>
                            Угощение лошади происходит строго с разрешения тренера или инструктора, так как у некоторых
                            лошадей может быть аллергия.
                            Но чаще всего угощают кусочком сахара, поэтому на первое занятие
                            можете смело его брать!
                        </p>
                    </div>
                </li>
                <li class="question__item">
                    <button class="question__top" type="button">
                        Как отменить тренировку?
                    </button>
                    <div class="question__answer">
                        <p>
                            Тренировку отменить можно в любое время, но деньги будут возвращены только в том случае,
                            если вы
                            отмените занятие как минимум за 3 часа до его начала!
                        </p>
                    </div>
                </li>
                <li class="question__item">
                    <button class="question__top" type="button">
                        Как часто надо тренироваться?
                    </button>
                    <div class="question__answer">
                        <p>
                            Если речь идет не о профессиональных занятиях верховой езды, то достаточно заниматься 1-2
                            раза в
                            неделю, чтобы уверенно держаться в седле и получать удовольствие от занятий Конным спортом.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>