<section class="reviews" id="reviews">
    <div class="container">
        <h2 class="reviews__title title">
            отзывы
        </h2>
        <span class="visually-hidden">
            Слайдер с отзывами 
        </span>

        <ul class="reviews__items">
            <li class="reviews__item">
                <article class="review-card">
                    <div class="review-card__rating" data-rateyo-rating="5">
                        <span class="visually-hidden">
                            Оценка пользователя
                        </span>
                    </div>
                    <blockquote class="review-card__content">
                        <div class="review-card__top">
                            <cite class="review-card__name">
                                Николай
                            </cite>
                            <time class="review-card__data" datetime="27.05.2020">
                                27.05.2020
                            </time>
                        </div>
                        <div class="review-card__text">
                            <p>
                                У меня лошадь уже несколько лет
                                стоит в этом кск, все устраивает,
                                никаких претензий нет.
                                Отличное питание,
                                высококачественные корма.
                                Ответственные конюхи,
                                которые любят своё дело.
                            </p>
                            <p>
                                И очень нравится, что в
                                стоимость входят услуги
                                ветеринара и коваля, в других клубах такого нет, а здесь на этом можно сэкономить
                                немаленькую сумму. Вообщем всем рекомендую, более лучших условий за такую стоимость я
                                нигде
                                не видел!
                            </p>
                        </div>
                    </blockquote>   
                    <button class="review-card__btn" type="button">
                        Читать дальше
                    </button>
                </article>
            </li>

            <li class="reviews__item">
                <article class="review-card">
                    <div class="review-card__rating" data-rateyo-rating="4">
                        <span class="visually-hidden">
                            Оценка пользователя
                        </span>
                    </div>
                    <blockquote class="review-card__content">
                        <div class="review-card__top">
                            <cite class="review-card__name">
                                Лариса
                            </cite>
                            <time class="review-card__data" datetime="07.06.2021">
                                07.06.2021
                            </time>
                        </div>
                        <div class="review-card__text">
                            <p>
                                Дочка занимается в этом клубе вольтижировкой. Нас все устраивает, за ее безопасность я
                                спокойна: очень ответственный и опытный тренер, все правила безопасности соблюдаются на
                                высшем уровне.
                            </p>
                            <p>
                                Место известное - народу немало, особенно в выходные, благо места много, все
                                размещаются: и
                                тренеры, и спортсмены.
                            </p>
                        </div>
                    </blockquote>
                    <button class="review-card__btn" type="button">
                        Читать дальше
                    </button>
                </article>
            </li>

            <li class="reviews__item">
                <article class="review-card">
                    <div class="review-card__rating" data-rateyo-rating="5">
                        <span class="visually-hidden">
                            Оценка пользователя
                        </span>
                    </div>
                    <blockquote class="review-card__content">
                        <div class="review-card__top">
                            <cite class="review-card__name">
                                Матвей
                            </cite>
                            <time class="review-card__data" datetime="10.02.2019">
                                10.02.2019
                            </time>
                        </div>
                        <div class="review-card__text">
                            <p>
                                Классное место! Мне 28 лет, езжу заниматься в этот клуб верховой ездой. Никогда не
                                думал,
                                что в таком возрасте возможно заниматься спортом, но спасибо моему тренеру, он мне помог
                                преодолеть этот барьер.
                            </p>
                            <p>
                                Есть одно небольшое пожелание: зимой пустить автобусы чуть почаще, а то вечером
                                приходится
                                стоять на остановке минут 20.
                            </p>
                        </div>
                    </blockquote>
                    <button class="review-card__btn" type="button">
                        Читать дальше
                    </button>
                </article>
            </li>

            <li class="reviews__item">
                <article class="review-card">
                    <div class="review-card__rating" data-rateyo-rating="5">
                        <span class="visually-hidden">
                            Оценка пользователя
                        </span>
                    </div>
                    <blockquote class="review-card__content">
                        <div class="review-card__top">
                            <cite class="review-card__name">
                                Артем
                            </cite>
                            <time class="review-card__data" datetime="30.08.2020">
                                30.08.2020
                            </time>
                        </div>
                        <div class="review-card__text">
                            <p>
                                Занимаюсь в КСК "Контур" с 12 лет. Хочу отметить, что в этом клубе замечательные условия
                                для
                                занятий профессиональным спортом. Манеж и плац с шикарным грунтом, подходит для
                                тренировок в
                                любое время года. Просторная раздевалка и буфет. И самое главное - на территории есть
                                душ,
                                поверьте, после летних тренировок это очень важно!)
                            </p>
                        </div>
                    </blockquote>
                    <button class="review-card__btn" type="button">
                        Читать дальше
                    </button>
                </article>
            </li>

            <li class="reviews__item">
                <article class="review-card">
                    <div class="review-card__rating" data-rateyo-rating="5">
                        <span class="visually-hidden">
                            Оценка пользователя
                        </span>
                    </div>
                    <blockquote class="review-card__content">
                        <div class="review-card__top">
                            <cite class="review-card__name">
                                Егор
                            </cite>
                            <time class="review-card__data" datetime="19.05.2021">
                                19.05.2021
                            </time>
                        </div>
                        <div class="review-card__text">
                            <p>
                                Несколько раз в год приезжаем всей семьёй в поход, всегда остаёмся довольными! Радует,
                                что
                                лошади очень ухоженные и незагнанные. Маршрут всегда продумывается заранее, и проходит
                                по
                                самым живописным местам.
                            </p>
                            <p>
                                Для нас является огромным плюсом хорошая дорога до самого кск и шикарная парковка рядом
                                с
                                ним.
                            </p>
                        </div>
                    </blockquote>
                    <button class="review-card__btn" type="button">
                        Читать дальше
                    </button>
                </article>
            </li>

            <li class="reviews__item">
                <article class="review-card">
                    <div class="review-card__rating" data-rateyo-rating="5">
                        <span class="visually-hidden">
                            Оценка пользователя
                        </span>
                    </div>
                    <blockquote class="review-card__content">
                        <div class="review-card__top">
                            <cite class="review-card__name">
                                Антонина
                            </cite>
                            <time class="review-card__data" datetime="06.06.2020">
                                06.06.2020
                            </time>
                        </div>
                        <div class="review-card__text">
                            <p>
                                В конце мая организовали экскурсию для детей в клуб "Контур" (в честь выпускного.) Все
                                ученики и родители остались очень довольными. Я, как классный руководитель, могу
                                сказать,
                                что все прошло на высшем уровне.
                            </p>
                            <p>
                                После экскурсии был обед удивило высокое качество питания. Особенно детям понравилось
                                катание на лошадях, организаторы предоставили полную безопасность.
                            </p>
                            <p>
                                В заключение могу сказать, что клуб просто супер! Уверена, все другие мероприятия
                                проходят
                                также на высшем уровне!
                            </p>
                        </div>
                    </blockquote>
                    <button class="review-card__btn" type="button">
                        Читать дальше
                    </button>
                </article>
            </li>
        </ul>

        <form class="form form-star" name="rating">
            <p class="form__heading">
                заполните форму для отправки отзыва
            </p>
            <div class="form__group">
                <div class="form__item">
                    <svg class="form__icon">
                        <use xlink:href="img/sprite.svg#name-icon"></use>
                    </svg>
                    <label class="visually-hidden" for="rating-name">
                        Введите Ваше имя
                    </label>
                    <input class="form__input form__req" type="text" id="rating-name" name="rating-name" placeholder="Ваше имя*">
                </div>
                <div class="form__item form__input form-rating">
                    <span class="form-rating__name">
                        Ваша оценка
                    </span>
                    <ul class="form-rating__items">
                        <li class="form-rating__item">
                            <label class="visually-hidden" for="form-rating-1">
                                По клику поставится одна звезда
                            </label>
                            <input class="form-rating__check check" id="form-rating-1" type="checkbox">
                            <span class="form-rating__styler styler"></span>
                        </li>
                        <li class="form-rating__item">
                            <label class="visually-hidden" for="form-rating-2">
                                По клику поставится вторая звезда
                            </label>
                            <input class="form-rating__check check" id="form-rating-2" type="checkbox">
                            <span class="form-rating__styler styler"></span>
                        </li>
                        <li class="form-rating__item">
                            <label class="visually-hidden" for="form-rating-3">
                                По клику поставится третья звезда
                            </label>
                            <input class="form-rating__check check" id="form-rating-3" type="checkbox">
                            <span class="form-rating__styler styler"></span>
                        </li>
                        <li class="form-rating__item">
                            <label class="visually-hidden" for="form-rating-4">
                                По клику поставится четвертая звезда
                            </label>
                            <input class="form-rating__check check" id="form-rating-4" type="checkbox">
                            <span class="form-rating__styler styler"></span>
                        </li>
                        <li class="form-rating__item">
                            <label class="visually-hidden" for="form-rating-5">
                                По клику поставится пятая звезда
                            </label>
                            <input class="form-rating__check check" id="form-rating-5" type="checkbox">
                            <span class="form-rating__styler styler"></span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form__item form__item--big form__item--textarea">
                <svg class="form__icon">
                    <use xlink:href="img/sprite.svg#textarea-icon"></use>
                </svg>
                <label class="visually-hidden" for="rating-textarea">
                    Введите Ваше сообщение
                </label>
                <textarea class="form__textarea form__input" id="rating-textarea" name="rating-textarea" placeholder="Ваше сообщение"></textarea>
            </div>
            <button class="form__button form-rating__button button" type="submit">
                Отправить
            </button>
        </form>
    </div>
</section>