<section class="trainer section">
    <div class="container">
        <h2 class="trainer__title title">
            наши тренеры
        </h2>

        <ul class="trainer__items">
            <!--Тренер по конкуру-->
            <li class="trainer__item">
                <article class="trainer-card">
                    <div class="trainer-card__top">
                        <img class="trainer-card__img" src="img/trainers/1.jpg" alt="Михайлов Сергей Петрович">
                        <div class="trainer-card__table">
                            <span class="trainer-card__profession">
                                Тренер по конкуру
                            </span>
                        </div>
                    </div>
                    <div class="trainer-card__body">
                        <p class="trainer-card__name">
                            <span>Михайлов</span>
                            Сергей Петрович
                        </p>
                        <ul class="trainer-card__achievements">
                            <li class="trainer-card__achievement">
                                Мастер спорта
                            </li>
                            <li class="trainer-card__achievement">
                                Чемпион России 2018
                            </li>
                            <li class="trainer-card__achievement">
                                Тренерский стаж - 10 лет
                            </li>
                        </ul>
                    </div>
                    <div class="trainer-card__footer">
                        <span class="visually-hidden">
                            Здесь представлены социальные сети Сергея Петровича
                        </span>
                        <ul class="social trainer-card__social">
                            <li class="social__item">
                                <a class="social__link" href="https://vk.com" target="blank" style="background-image: url('img/vk-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Сергея Петровича в социальной сети "Vkontacte"
                                    </span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link" href="https://instagram.com" target="blank" style="background-image: url('img/instagram-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Сергея Петровича в социальной сети "Instagram"
                                    </span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link " href="https://facebook.com" target="blank" style="background-image: url('img/facebook-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Сергея Петровича в социальной сети "Facebook"
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
            </li>

            <!--Тренер по выездке-->
            <li class="trainer__item">
                <article class="trainer-card">
                    <div class="trainer-card__top">
                        <img class="trainer-card__img" src="img/trainers/2.jpg" alt="Иванова Полина Александровна">
                        <div class="trainer-card__table">
                            <span class="trainer-card__profession">
                                Тренер по выездке
                            </span>
                        </div>
                    </div>
                    <div class="trainer-card__body">
                        <p class="trainer-card__name">
                            <span>Иванова</span>
                            Полина Александровна
                        </p>
                        <ul class="trainer-card__achievements">
                            <li class="trainer-card__achievement">
                                Мастер спорта
                            </li>
                            <li class="trainer-card__achievement">
                                Чемпионка России 2018
                            </li>
                            <li class="trainer-card__achievement">
                                Тренерский стаж - 10 лет
                            </li>
                        </ul>
                    </div>
                    <div class="trainer-card__footer">
                        <span class="visually-hidden">
                            Здесь представлены социальные сети Полины Александровны
                        </span>
                        <ul class="social trainer-card__social">
                            <li class="social__item">
                                <a class="social__link" href="https://vk.com" target="blank" style="background-image: url('img/vk-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Полины Александровны в социальной сети "Vkontacte"
                                    </span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link" href="https://instagram.com" target="blank" style="background-image: url('img/instagram-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Полины Александровны в социальной сети "Instagram"
                                    </span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link " href="https://facebook.com" target="blank" style="background-image: url('img/facebook-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Полины Александровны в социальной сети "Facebook"
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
            </li>

            <!--Детский тренер-->
            <li class="trainer__item">
                <article class="trainer-card">
                    <div class="trainer-card__top">
                        <img class="trainer-card__img" src="img/trainers/3.jpg" alt="Володина Ольга Викторовна">
                        <div class="trainer-card__table">
                            <span class="trainer-card__profession">
                                Детский тренер
                            </span>
                        </div>
                    </div>
                    <div class="trainer-card__body">
                        <p class="trainer-card__name">
                            <span>Володина</span>
                            Ольга Викторовна
                        </p>
                        <ul class="trainer-card__achievements">
                            <li class="trainer-card__achievement">
                                КМС по выездке
                            </li>
                            <li class="trainer-card__achievement">
                                Тренерский стаж - 5 лет
                            </li>
                        </ul>
                    </div>
                    <div class="trainer-card__footer">
                        <span class="visually-hidden">
                            Здесь представлены социальные сети Ольги Викторовны
                        </span>
                        <ul class="social trainer-card__social">
                            <li class="social__item">
                                <a class="social__link" href="https://vk.com" target="blank" style="background-image: url('img/vk-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Ольги Викторовны в социальной сети "Vkontacte"
                                    </span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link" href="https://instagram.com" target="blank" style="background-image: url('img/instagram-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Ольги Викторовны в социальной сети "Instagram"
                                    </span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link " href="https://facebook.com" target="blank" style="background-image: url('img/facebook-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Ольги Викторовны в социальной сети "Facebook"
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
            </li>

            <!--Тренер по троеборью-->
            <li class="trainer__item">
                <article class="trainer-card">
                    <div class="trainer-card__top">
                        <img class="trainer-card__img" src="img/trainers/4.jpg" alt="Баланов Валерий Денисович">
                        <div class="trainer-card__table">
                            <span class="trainer-card__profession">
                                Тренер по троеборью
                            </span>
                        </div>
                    </div>
                    <div class="trainer-card__body">
                        <p class="trainer-card__name">
                            <span>Баланов</span>
                            Валерий Денисович
                        </p>
                        <ul class="trainer-card__achievements">
                            <li class="trainer-card__achievement">
                                Мастер спорта
                            </li>
                            <li class="trainer-card__achievement">
                                Чемпион Европы 2015
                            </li>
                            <li class="trainer-card__achievement">
                                Тренерский стаж - 7 лет
                            </li>
                        </ul>
                    </div>
                    <div class="trainer-card__footer">
                        <span class="visually-hidden">
                            Здесь представлены социальные сети Валерия Денисовича
                        </span>
                        <ul class="social trainer-card__social">
                            <li class="social__item">
                                <a class="social__link" href="https://vk.com" target="blank" style="background-image: url('img/vk-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Валерия Денисовича в социальной сети "Vkontacte"
                                    </span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link" href="https://instagram.com" target="blank" style="background-image: url('img/instagram-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Валерия Денисовича в социальной сети "Instagram"
                                    </span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link " href="https://facebook.com" target="blank" style="background-image: url('img/facebook-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Валерия Денисовича в социальной сети "Facebook"
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
            </li>

            <!--Тренер по вольтижировке-->
            <li class="trainer__item">
                <article class="trainer-card">
                    <div class="trainer-card__top">
                        <img class="trainer-card__img" src="img/trainers/5.jpg" alt="Васильева Лариса Анатольевна">
                        <div class="trainer-card__table">
                            <span class="trainer-card__profession">
                                Тренер по вольтижировке
                            </span>
                        </div>
                    </div>
                    <div class="trainer-card__body">
                        <p class="trainer-card__name">
                            <span>Васильева</span>
                            Лариса Анатольевна
                        </p>
                        <ul class="trainer-card__achievements">
                            <li class="trainer-card__achievement">
                                Мастер спорта
                            </li>
                            <li class="trainer-card__achievement">
                                Работала в Германии
                            </li>
                            <li class="trainer-card__achievement">
                                Тренерский стаж - 4 года
                            </li>
                        </ul>
                    </div>
                    <div class="trainer-card__footer">
                        <span class="visually-hidden">
                            Здесь представлены социальные сети Ларисы Анатольевны
                        </span>
                        <ul class="trainer-card__social social">
                            <li class="social__item">
                                <a class="social__link" href="https://vk.com" target="blank" style="background-image: url('img/vk-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Ларисы Анатольевны в социальной сети "Vkontacte"
                                    </span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link" href="https://instagram.com" target="blank" style="background-image: url('img/instagram-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Ларисы Анатольевны в социальной сети "Instagram"
                                    </span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link " href="https://facebook.com" target="blank" style="background-image: url('img/facebook-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Ларисы Анатольевны в социальной сети "Facebook"
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
            </li>

            <!--Инструктор-->
            <li class="trainer__item">
                <article class="trainer-card">
                    <div class="trainer-card__top">
                        <img class="trainer-card__img" src="img/trainers/6.jpg" alt="Иванова Марина Сергеевна">
                        <div class="trainer-card__table">
                            <span class="trainer-card__profession">
                                Инструктор
                            </span>
                        </div>
                    </div>
                    <div class="trainer-card__body">
                        <p class="trainer-card__name">
                            <span>Иванова</span>
                            Марина Сергеевна
                        </p>
                        <ul class="trainer-card__achievements">
                            <li class="trainer-card__achievement">
                                КМС по конкуру
                            </li>
                            <li class="trainer-card__achievement">
                                Тренерский стаж - 6 лет
                            </li>
                        </ul>
                    </div>
                    <div class="trainer-card__footer">
                        <span class="visually-hidden">
                            Здесь представлены социальные сети Марины Сергеевны
                        </span>
                        <ul class="trainer-card__social social">
                            <li class="social__item">
                                <a class="social__link" href="https://vk.com" target="blank" style="background-image: url('img/vk-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Марины Сергеевныы в социальной сети "Vkontacte"
                                    </span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link" href="https://instagram.com" target="blank" style="background-image: url('img/instagram-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Марины Сергеевныы в социальной сети "Instagram"
                                    </span>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link" href="https://facebook.com" target="blank" style="background-image: url('img/facebook-icon.png');">
                                    <span class="visually-hidden">
                                        По клику откроется страница Марины Сергеевныы в социальной сети "Facebook"
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>