<div class="services__item services__item--active services-photoshoot" id="services-photoshoot">
    <div class="services-top services-top--slider">
        <div class="services-top__descr">
            <h3 class="services-top__headding">
                фотосессии с лошадьми
            </h3>
            <div class="services-top__text">
                <p>
                    Наши профессиональные фотографы помогут Вам в создание образа. После фотосессии специалисты
                    обработают все фотографии по вашему желанию.
                </p>
                <p>
                    Мы проводим фотосесии как на территории конюшни, так и за её пределами, и с удовольствием
                    подскажем самые красивые места
                </p>
            </div>
            <a class="services-top__link button" href="#services-tabs__photoshoot">
                Записаться на фотосессию
            </a>
        </div>
        <ul class="services-top__picture services-slider">
            <li class="services-slider__item">
                <img class="services-top__img services-slider__img" src="img/services/photoshoot-slider2.jpg" alt="Фотосессии с лошадьми">
            </li>
            <li class="services-slider__item">
                <img class="services-top__img services-slider__img" src="img/services/photoshoot-bg.jpg" alt="Фотосессии с лошадьми">
            </li>
            <li class="services-slider__item">
                <img class="services-top__img services-slider__img" src="img/services/photoshoot.jpg" alt="Фотосессии с лошадьми">
            </li>
        </ul>
    </div>

    <div class="services__body">
        <ul class="services-adventages">
            <li class="services-adventages__list">
                <ul class="services-adventages__items">
                    <li class="services-adventages__item">
                        <div class="services-adventages__icon icon">
                            <svg class="services-adventages__badge">
                                <use xlink:href="img/sprite.svg#age3-icon"></use>
                            </svg>
                        </div>
                        <p class="services-adventages__text">
                            Фотосессии с детьми
                        </p>
                    </li>
                    <li class="services-adventages__item">
                        <div class="services-adventages__icon icon">
                            <svg class="services-adventages__badge">
                                <use xlink:href="img/sprite.svg#time-icon"></use>
                            </svg>
                        </div>
                        <p class="services-adventages__text">
                            Продолжительность от 1 часа
                        </p>
                    </li>
                </ul>
            </li>

            <li class="services-adventages__list">
                <ul class="services-adventages__items">
                    <li class="services-adventages__item">
                        <div class="services-adventages__icon icon">
                            <svg class="services-adventages__badge">
                                <use xlink:href="img/sprite.svg#dress-icon"></use>
                            </svg>
                        </div>
                        <p class="services-adventages__text">
                            Помощь в создание образа
                        </p>
                    </li>
                    <li class="services-adventages__item">
                        <div class="services-adventages__icon icon">
                            <svg class="services-adventages__badge">
                                <use xlink:href="img/sprite.svg#photo-icon"></use>
                            </svg>
                        </div>
                        <p class="services-adventages__text">
                            Обработка фотографий включена в стоимость
                        </p>
                    </li>
                </ul>
            </li>

            <li class="services-adventages__item services-adventages__item--solo">
                <div class="services-adventages__icon icon">
                    <svg class="services-adventages__badge">
                        <use xlink:href="img/sprite.svg#price-icon"></use>
                    </svg>
                </div>
                <p class="services-adventages__text">
                    Цена - 2000 рублей в час
                </p>
            </li>
        </ul>

        <div class="services-tabs" id="services-tabs__photoshoot">
            <form class="form" name="services-photoshoot">
                <p class="form__heading">
                    заполните форму для записи на фотосессию
                </p>
                <div class="form__item form__item--big">
                    <svg class="form__icon">
                        <use xlink:href="img/sprite.svg#name-icon"></use>
                    </svg>
                    <label class="visually-hidden" for="services-photoshoot__name">
                        Введите Ваше имя
                    </label>
                    <input class="form__input form__req" type="text" id="services-photoshoot__name" name="services-photoshoot__name" placeholder="Ваше имя*">
                </div>

                <div class="form__group">
                    <div class="form__item">
                        <svg class="form__icon">
                            <use xlink:href="img/sprite.svg#phone-icon"></use>
                        </svg>
                        <label class="visually-hidden" for="services-photoshoot__phone">
                            Введите Ваш номер телефона
                        </label>
                        <input class="form__input form__req" type="tel" id="services-photoshoot__phone" name="services-photoshoot__phone" placeholder="Ваше номер телефона*">
                    </div>
                    <div class="form__item">
                        <svg class="form__icon">
                            <use xlink:href="img/sprite.svg#email-icon"></use>
                        </svg>
                        <label class="visually-hidden" for="services-photoshoot__email">
                            Введите Ваш e-mail
                        </label>
                        <input class="form__input form__req form__email" type="text" id="services-photoshoot__email" name="services-photoshoot__email" placeholder="Ваш e-mail*">
                    </div>
                </div>

                <div class="form__group">
                    <div class="form__item">
                        <svg class="form__icon">
                            <use xlink:href="img/sprite.svg#calendar-icon"></use>
                        </svg>
                        <label class="visually-hidden" for="services-photoshoot__calendar">
                            Выберите дату для фотосессии
                        </label>
                        <input class="form__input form__calendar" type="text" placeholder="Выберите дату" id="services-photoshoot__calendar" name="services-photoshoot__calendar" readonly>
                    </div>
                    <div class="form__item">
                        <select class="form__select form__time" name="services-photoshoot__time">
                            <option disabled selected>Выберите время</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="19:30">19:30</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                        </select>
                    </div>
                </div>
                <div class="form__item form__item--big form__message">
                    <svg class="form__icon">
                        <use xlink:href="img/sprite.svg#textarea-icon"></use>
                    </svg>
                    <label class="visually-hidden" for="services-photoshoot__textarea">
                        Введите Ваше сообщение
                    </label>
                    <textarea class="form__textarea form__input" id="services-photoshoot__textarea" name="services-photoshoot__textarea" placeholder="Ваше сообщение"></textarea>
                </div>

                <div class="form__agreement">
                    <input class="form__input form__check form__req check" type="checkbox" id="services-photoshoot__agreement">
                    <span class="form__styler form__req styler"></span>
                    <label class="form__label form__label--agreement" for="services-photoshoot__agreement">
                        Даю согласие на обработку
                    </label>
                    <a class="form__link" href="#">
                        персональных данных
                    </a>
                </div>

                <button class="button form__button" type="submit">
                    Отправить
                </button>
            </form>
        </div>
    </div>
</div>