<div class="services__item services__item--active services-professional" id="services-professional">
    <div class="services-top">
        <div class="services-top__picture" style="background-image: url('img/services/professional.jpg');">
        </div>
        <div class="services-top__descr">
            <h3 class="services-top__headding">
                профессиональные занятия
            </h3>
            <div class="services-top__text">
                <p>
                    Наш конноспортивный клуб “Контур” предлагает Вам индивидуальные и групповые занятия конным
                    спортом для взрослых и детей с 12 лет по конкуру, выездке, троеборью, вольтижировке с
                    опытными
                    тренерами.
                </p>
            </div>
            <a class="services-top__link button" href="#services-tabs__professional">
                Записаться на занятие
            </a>
        </div>
    </div>

    <div class="services__body">
        <ul class="services-adventages">
            <li class="services-adventages__list">
                <ul class="services-adventages__items">
                    <li class="services-adventages__item">
                        <div class="services-adventages__icon icon">
                            <svg class="services-adventages__badge">
                                <use xlink:href="img/sprite.svg#age-icon"></use>
                            </svg>
                        </div>
                        <p class="services-adventages__text">
                            Для взрослых и детей с 12 лет
                        </p>
                    </li>
                    <li class="services-adventages__item">
                        <div class="services-adventages__icon icon">
                            <svg class="services-adventages__badge">
                                <use xlink:href="img/sprite.svg#group-icon"></use>
                            </svg>
                        </div>
                        <p class="services-adventages__text">
                            Групповые и индивидульные занятия
                        </p>
                    </li>
                </ul>
            </li>

            <li class="services-adventages__list">
                <ul class="services-adventages__items">
                    <li class="services-adventages__item">
                        <div class="services-adventages__icon icon">
                            <svg class="services-adventages__badge">
                                <use xlink:href="img/sprite.svg#time-icon"></use>
                            </svg>
                        </div>
                        <p class="services-adventages__text">
                            Продолжительность занятий - 1 час
                        </p>
                    </li>
                    <li class="services-adventages__item">
                        <div class="services-adventages__icon icon">
                            <svg class="services-adventages__badge">
                                <use xlink:href="img/sprite.svg#subscription-icon"></use>
                            </svg>
                        </div>
                        <p class="services-adventages__text">
                            Покупка абонемента от 5 занятий
                        </p>
                    </li>
                </ul>
            </li>

            <li class="services-adventages__item services-adventages__item--solo">
                <div class="services-adventages__icon icon">
                    <svg class="services-adventages__badge">
                        <use xlink:href="img/sprite.svg#present-icon"></use>
                    </svg>
                </div>
                <p class="services-adventages__text">
                    Покупка подарочного сертификата (с неограниченным сроком действия)
                </p>
            </li>
        </ul>

        <div class="services-bottom">
            <div class="services-bottom__price">
                <div class="services-bottom__bg" style="background-image: url('../img/services/table-bg1.jpg');">
                </div>
                <table class="services-table">
                    <tr class="services-table__list">
                        <th></th>
                        <th class="services-table__category">
                            Групповые
                        </th>
                        <th class="services-table__category">
                            Индивидуальные
                        </th>
                    </tr>
                    <tr class="services-table__list">
                        <th class="services-table__category">
                            Занятия
                        </th>
                        <td class="services-table__item">
                            1000 рублей
                        </td>
                        <td class="services-table__item">
                            1500 рублей
                        </td>
                    </tr>
                    <tr class="services-table__list">
                        <th class="services-table__category">
                            Абонемент*
                        </th>
                        <td class="services-table__item">
                            700 рублей
                        </td>
                        <td class="services-table__item">
                            1200 рублей
                        </td>
                    </tr>
                </table>

                <ul class="services-mobail">
                    <li class="services-mobail__list">
                        <span class="services-mobail__category">
                            Занятия
                        </span>
                        <ul class="services-mobail__items">
                            <li class="services-mobail__item">
                                Групповые - 1000 руб.
                            </li>
                            <li class="services-mobail__item">
                                Индивидуальные - 1500 руб.
                            </li>
                        </ul>
                    </li>
                    <li class="services-mobail__list">
                        <span class="services-mobail__category">
                            Абонемент*
                        </span>
                        <ul class="services-mobail__items">
                            <li class="services-mobail__item">
                                Групповой - 700 руб.
                            </li>
                            <li class="services-mobail__item">
                                Индивидуальный - 1200 руб.
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <p class="services-bottom__text">
                *Цена указана за 1 занятие, абонемент покупается минимум на 5 занятий.
            </p>
        </div>
        <p class="services-mobail__footnote">
            *Цена указана за 1 занятие, абонемент покупается минимум на 5 занятий.
        </p>

        <div class="services-tabs" id="services-tabs__professional">
            <span class="visually-hidden">
                Выберите, что Вы хотите приобрести
            </span>
            <ul class="services-tabs__items">
                <li class="services-tabs__item">
                    <a class="services-tabs__link services-tabs__link--active category" href="#services-tabs__professional-1">
                        Занятия
                    </a>
                </li>
                <li class="services-tabs__item">
                    <a class="services-tabs__link category" href="#services-tabs__professional-2">
                        Абонемент
                    </a>
                </li>
                <li class="services-tabs__item">
                    <a class="services-tabs__link category" href="#services-tabs__professional-3">
                        Сертификат
                    </a>
                </li>
            </ul>

            <!--Занятия-->
            <div class="services-tabs__body services-tabs__body--active" id="services-tabs__professional-1">
                <form class="form" name="services-professional-1">
                    <p class="form__heading">
                        заполните форму для записи на занятие
                    </p>

                    <div class="form__item form__item--big">
                        <svg class="form__icon">
                            <use xlink:href="img/sprite.svg#name-icon"></use>
                        </svg>
                        <label class="visually-hidden" for="services-professional__name-1">
                            Введите Ваше имя
                        </label>
                        <input class="form__input req" type="text" id="services-professional__name-1" name="services-professional__name-1" placeholder="Ваше имя*">
                    </div>

                    <div class="form__group">
                        <div class="form__item">
                            <svg class="form__icon">
                                <use xlink:href="img/sprite.svg#phone-icon"></use>
                            </svg>
                            <label class="visually-hidden" for="services-professional__phone-1">
                                Введите Ваш номер телефона
                            </label>
                            <input class="form__input req" type="tel" id="services-professional__phone-1" name="services-professional__phone-1" placeholder="Ваш номер телефона*">
                        </div>
                        <div class="form__item">
                            <svg class="form__icon">
                                <use xlink:href="img/sprite.svg#email-icon"></use>
                            </svg>
                            <label class="visually-hidden" for="services-professional__email-1">
                                Введите Ваш e-mail
                            </label>
                            <input class="form__input req email" type="text" id="services-professional__email-1" name="services-professional__email-1" placeholder="Ваш e-mail*">
                        </div>
                    </div>

                    <div class="form__item form__item--big">
                        <select class="form__select" name="services-professional__select-1">
                            <option disabled selected>Какоке направление Вы выбрали?</option>
                            <option value="Конкур">Конкур</option>
                            <option value="Выездка">Выездка</option>
                            <option value="Троеборье">Троеборье</option>
                            <option value="Вольтижировка">Вольтижировка</option>
                        </select>
                    </div>

                    <div class="form__group">
                        <div class="form__item">
                            <svg class="form__icon">
                                <use xlink:href="img/sprite.svg#calendar-icon"></use>
                            </svg>
                            <label class="visually-hidden" for="services-professional__calendar">
                                Выберите дату для занятий
                            </label>
                            <input class="form__input form__input--calendar" name="services-professional__calendar" type="text" placeholder="Выберите дату" id="services-professional__calendar" readonly>
                        </div>
                        <div class="form__item">
                            <select class="form__select form__select--time" name="services-professional__time">
                                <option disabled selected>Выберите время</option>
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                                <option value="18:30">18:30</option>
                                <option value="19:00">19:00</option>
                                <option value="19:30">19:30</option>
                                <option value="20:00">20:00</option>
                                <option value="20:30">20:30</option>
                                <option value="21:00">21:00</option>
                            </select>
                        </div>
                    </div>

                    <div class="form__item form__item--big form__item--message">
                        <svg class="form__icon">
                            <use xlink:href="img/sprite.svg#textarea-icon"></use>
                        </svg>
                        <label class="visually-hidden" for="services-professional__textarea-1">
                            Введите Ваше сообщение
                        </label>
                        <textarea class="form__input form__input--textarea" id="services-professional__textarea-1"
                            name="services-professional__textarea-1" placeholder="Ваше сообщение"></textarea>
                    </div>

                    <div class="form__agreement">
                        <input class="form__input req check" type="checkbox" id="services-classes__agreement-1">
                        <span class="form__styler req styler"></span>
                        <label class="form__label form__label--agreement" for="services-classes__agreement-1">
                            Даю согласие на обработку
                        </label>
                        <a class="form__link" href="#">
                            персональных данных
                        </a>
                    </div>

                    <button class="button form__button" type="submit">
                        Отправить
                    </button>
                </form>
            </div>

            <!--Абонемент-->
            <div class="services-tabs__body" id="services-tabs__professional-2">
                <form class="form" name="services-professional-2">
                    <p class="form__heading">
                        заполните форму для покупки абонемента
                    </p>

                    <div class="form__item form__item--big">
                        <svg class="form__icon">
                            <use xlink:href="img/sprite.svg#name-icon"></use>
                        </svg>
                        <label class="visually-hidden" for="services-professional__name-2">
                            Введите Ваше имя
                        </label>
                        <input class="form__input req" type="text" id="services-professional__name-2" name="services-professional__name-2" placeholder="Ваше имя*">
                    </div>

                    <div class="form__group">
                        <div class="form__item">
                            <svg class="form__icon">
                                <use xlink:href="img/sprite.svg#phone-icon"></use>
                            </svg>
                            <label class="visually-hidden" for="services-professional__phone-2">
                                Введите Ваш номер телефона
                            </label>
                            <input class="form__input req" type="tel" id="services-professional__phone-2" name="services-professional__phone-2" placeholder="Ваш номер телефона*">
                        </div>
                        <div class="form__item">
                            <svg class="form__icon">
                                <use xlink:href="img/sprite.svg#email-icon"></use>
                            </svg>
                            <label class="visually-hidden" for="services-professional__email-2">
                                Введите Ваш e-mail
                            </label>
                            <input class="form__input req email" type="text" id="services-professional__email-2" name="services-professional__email-2" placeholder="Ваш e-mail*">
                        </div>
                    </div>

                    <div class="form__group form__group--amount">
                        <div class="form__item">
                            <select class="form__select" name="services-professional__select-2">
                                <option disabled selected>Какоке направление Вы выбрали?</option>
                                <option value="Конкур">Конкур</option>
                                <option value="Выездка">Выездка</option>
                                <option value="Троеборье">Троеборье</option>
                                <option value="Вольтижировка">Вольтижировка</option>
                            </select>
                        </div>
                        <div class="form__item form__item--big form__item--amount">
                            <label class="form__label" for="services-professional__number-2">
                                На сколько занятий?
                            </label>
                            <input class="form__number" type="number" min="5" value="5" id="services-professional__number-2" name="services-professional__number-2">
                        </div>
                    </div>

                    <div class="form__item form__item--big form__item--message">
                        <svg class="form__icon">
                            <use xlink:href="img/sprite.svg#textarea-icon"></use>
                        </svg>
                        <label class="visually-hidden" for="services-professional__textarea-2">
                            Введите Ваше сообщение
                        </label>
                        <textarea class="form__input form__input--textarea" id="services-professional__textarea-2" name="services-professional__textarea-2" placeholder="Ваше сообщение"></textarea>
                    </div>

                    <div class="form__agreement">
                        <input class="form__input req check" type="checkbox" id="services-professional__agreement-2">
                        <span class="form__styler req styler"></span>
                        <label class="form__label form__label--agreement" for="services-professional__agreement-2">
                            Даю согласие на обработку
                        </label>
                        <a class="form__link" href="#">
                            персональных данных
                        </a>
                    </div>

                    <button class="button form__button" type="submit">
                        Отправить
                    </button>
                </form>
            </div>

            <!--Сертификат-->
            <div class="services-tabs__body" id="services-tabs__professional-3">
                <form class="form" name="services-professional-3">
                    <p class="form__heading">
                        заполните форму для покупки сертификата
                    </p>

                    <div class="form__item form__item--big">
                        <svg class="form__icon">
                            <use xlink:href="img/sprite.svg#name-icon"></use>
                        </svg>
                        <label class="visually-hidden" for="services-professional__name-3">
                            Введите Ваше имя
                        </label>
                        <input class="form__input req" type="text" id="services-professional__name-3" name="services-professional__name-3" placeholder="Ваше имя*">
                    </div>

                    <div class="form__group">
                        <div class="form__item">
                            <svg class="form__icon">
                                <use xlink:href="img/sprite.svg#phone-icon"></use>
                            </svg>
                            <label class="visually-hidden" for="services-professional__phone-3">
                                Введите Ваш номер телефона
                            </label>
                            <input class="form__input req" type="tel" id="services-professional__phone-3" name="services-professional__phone-3" placeholder="Ваш номер телефона*">
                        </div>
                        <div class="form__item">
                            <svg class="form__icon">
                                <use xlink:href="img/sprite.svg#email-icon"></use>
                            </svg>
                            <label class="visually-hidden" for="services-professional__email-3">
                                Введите Ваш e-mail
                            </label>
                            <input class="form__input req email" type="text" id="services-professional__email-3" name="services-professional__email-3" placeholder="Ваш e-mail*">
                        </div>
                    </div>

                    <div class="form__group form__group--amount">
                        <div class="form__item">
                            <select class="form__select" name="services-professional__select-3">
                                <option disabled selected>Какоке направление Вы выбрали?</option>
                                <option value="Конкур">Конкур</option>
                                <option value="Выездка">Выездка</option>
                                <option value="Троеборье">Троеборье</option>
                                <option value="Вольтижировка">Вольтижировка</option>
                            </select>
                        </div>
                        <div class="form__item form__item--big form__item--amount">
                            <label class="form__label" for="services-professional__number-3">
                                На сколько занятий?
                            </label>
                            <input class="form__number" type="number" min="5" value="5" id="services-professional__number-3" name="services-professional__number-3">
                        </div>
                    </div>

                    <div class="form__item form__item--big form__item--message">
                        <svg class="form__icon">
                            <use xlink:href="img/sprite.svg#textarea-icon"></use>
                        </svg>
                        <label class="visually-hidden" for="services-professional__textarea-3">
                            Введите Ваше сообщение
                        </label>
                        <textarea class="form__input form__input--textarea" id="services-professional__textarea-3" name="services-professional__textarea-3" placeholder="Ваше сообщение"></textarea>
                    </div>

                    <div class="form__agreement">
                        <input class="form__input req check" type="checkbox" id="services-professional__agreement-3">
                        <span class="form__styler req styler"></span>
                        <label class="form__label form__label--agreement" for="services-professional__agreement-3">
                            Даю согласие на обработку
                        </label>
                        <a class="form__link" href="#">
                            персональных данных
                        </a>
                    </div>

                    <button class="button form__button" type="submit">
                        Отправить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>