<div class="services__item services__item--active services-wait" id="services-wait">
     <div class="services-top services-top--slider">
        <div class="services-top__slider services-top__picture swiper">
            <ul class="services-top__items swiper-wrapper">
                <li class="services-top__item swiper-slide">
                    <img class="services-top__img" src="img/services/wait-slider1.jpg" alt="постой лошадей">
                </li>
                <li class="services-top__item swiper-slide">
                    <img class="services-top__img" src="img/services/wait-slider2.jpg" alt="постой лошадей">
                </li>
                <li class="services-top__item swiper-slide">
                    <img class="services-top__img" src="img/services/wait-slider3.jpg" alt="постой лошадей">
                </li>
                <li class="services-top__item swiper-slide">
                    <img class="services-top__img" src="img/services/wait-slider4.jpg" alt="постой лошадей">
                </li>
                <li class="services-top__item swiper-slide">
                    <img class="services-top__img" src="img/services/wait-slider5.jpg" alt="постой лошадей">
                </li>
            </ul>
            <div class="swiper-pagination"></div>

            <button class="swiper-button-prev services-top__button services-top__button--prev" type="button">
                <svg class="services-top__icon">
                    <use xlink:href="img/sprite.svg#arrow-left-icon"></use>
                </svg>
            </button>
            <button class="swiper-button-next services-top__button services-top__button--next" type="button">
                <svg class="services-top__icon">
                    <use xlink:href="img/sprite.svg#arrow-right-icon"></use>
                </svg>
            </button>
        </div>

        <div class="services-top__descr">
            <h3 class="services-top__headding">
                постой лошадей
            </h3>
            <div class="services-top__text">
                <p>
                    Мы предлагаем постой лошадей в КСК "Контур".
                    Цена аренды в месяц - 20.000 рублей. В аренду входят услуги коваля и ветеринара, питание,
                    прогулки и многое другое. Есть возможность изменить условия для Вашего питомца, учитывая
                    пожелания.
                </p>
                <p>
                    Если вы хотите забронировать денник или узнать какие-то подробности, то заполните
                    <a class="services-top__href" href="#services-tabs__wait">
                        форму ниже
                    </a>.
                </p>
            </div>
            <a class="services-top__link button" href="#services-tabs__wait">
                Забронировать
            </a>
        </div>
    </div>

    <div class="services__body">
        <ul class="services-adventages">
            <li class="services-adventages__list">
                <ul class="services-adventages__items">
                    <li class="services-adventages__item services-adventages__item--hay">
                        Кормление 6 раз в день (3 раза сено и 3 раза овес)
                    </li>
                    <li class="services-adventages__item services-adventages__item--field">
                        Прогулки от 4 часов в день
                    </li>
                </ul>
            </li>
            <li class="services-adventages__list">
                <ul class="services-adventages__items">
                    <li class="services-adventages__item services-adventages__item--doctor">
                        Услуги коваля и ветеринара
                    </li>
                    <li class="services-adventages__item services-adventages__item--stable">
                        Отапливаемая конюшня, денник 4на4, горячая вода.
                    </li>
                </ul>
            </li>
        </ul>

        <div class="services-tabs" id="services-tabs__wait">
            <form class="form" name="services-wait">
                <span class="form__heading">
                    заполните форму
                </span>

                <div class="form__item form__item--big">
                    <svg class="form__icon">
                        <use xlink:href="img/sprite.svg#name-icon"></use>
                    </svg>
                    <label class="visually-hidden" for="services-wait__name">
                        Введите Ваше имя
                    </label>
                    <input class="form__input req" type="text" id="services-wait__name" name="services-wait__name"
                        placeholder="Ваше имя*">
                </div>

                <div class="form__group">
                    <div class="form__item">
                        <svg class="form__icon">
                            <use xlink:href="img/sprite.svg#phone-icon"></use>
                        </svg>
                        <label class="visually-hidden" for="services-wait__phone">
                            Введите Ваш номер телефона
                        </label>
                        <input class="form__input req" type="tel" id="services-wait__phone" name="services-wait__phone"
                            placeholder="Ваш номер телефона*">
                    </div>
                    <div class="form__item">
                        <svg class="form__icon">
                            <use xlink:href="img/sprite.svg#email-icon"></use>
                        </svg>
                        <label class="visually-hidden" for="services-wait__email">
                            Введите Ваш e-mail
                        </label>
                        <input class="form__input req email" type="text" id="services-wait__email"
                            name="services-wait__email" placeholder="Ваш e-mail*">
                    </div>
                </div>

                <div class="form__item form__item--big form__item--message">
                    <svg class="form__icon">
                        <use xlink:href="img/sprite.svg#textarea-icon"></use>
                    </svg>
                    <label class="visually-hidden" for="services-wait__textarea">
                        Введите Ваше сообщение
                    </label>
                    <textarea class="form__input form__input--textarea" id="services-wait__textarea"
                        name="services-wait__textarea" placeholder="Ваше сообщение"></textarea>
                </div>

                <div class="form__agreement">
                    <input class="form__input req check" type="checkbox" id="services-classes__agreement-1">
                    <span class="form__styler req styler"></span>
                    <label class="form__label form__label--agreement" for="services-classes__agreement-1">
                        Даю согласие на обработку
                    </label>
                    <a class="form__link" href="#">
                        персональных данных
                    </a>
                </div>

                <button class="button form__button" type="submit">
                    Отправить
                </button>
            </form>
        </div>
    </div>
</div>