<div class="services__item services__item--active services-wait" id="services-wait">
    <div class="services-top services-top--slider">
        <ul class="services-top__picture services-slider">
            <li class="services-slider__item">
                <img class="services-top__img services-slider__img" src="img/services/wait-slider1.jpg" alt="постой лошадей">
            </li>
            <li class="services-slider__item">
                <img class="services-top__img services-slider__img" src="img/services/wait-slider2.jpg" alt="постой лошадей">
            </li>
            <li class="services-slider__item">
                <img class="services-top__img services-slider__img" src="img/services/wait-slider3.jpg" alt="постой лошадей">
            </li>
            <li class="services-slider__item">
                <img class="services-top__img services-slider__img" src="img/services/wait-slider4.jpg" alt="постой лошадей">
            </li>
            <li class="services-slider__item">
                <img class="services-top__img services-slider__img" src="img/services/wait-slider5.jpg" alt="постой лошадей">
            </li>
        </ul>
        
        <div class="services-top__descr">
            <h3 class="services-top__headding">
                постой лошадей
            </h3>
            <div class="services-top__text">
                <p>
                    Мы предлагаем постой лошадей в КСК "Контур".
                    Цена аренды в месяц - 20.000 рублей. В аренду входят услуги коваля и ветеринара, питание,
                    прогулки и многое другое. Есть возможность изменить условия для Вашего питомца, учитывая
                    пожелания.
                </p>
                <p>
                    Если вы хотите забронировать денник или узнать какие-то подробности, то заполните
                    <a class="services-top__href" href="#services-tabs__wait">
                        форму ниже
                    </a>.
                </p>
            </div>
            <a class="services-top__link button" href="#services-tabs__wait">
                Забронировать
            </a>
        </div>
    </div>

    <div class="services__body">
        <ul class="services-adventages">
            <li class="services-adventages__list">
                <ul class="services-adventages__items">
                    <li class="services-adventages__item">
                        <div class="services-adventages__icon icon">
                            <svg class="services-adventages__badge">
                                <use xlink:href="img/sprite.svg#hay-icon"></use>
                            </svg>
                        </div>
                        <p class="services-adventages__text">
                            Кормление 6 раз в день (3 раза сено и 3 раза овес)
                        </p>
                    </li>
                    <li class="services-adventages__item">
                        <div class="services-adventages__icon icon">
                            <svg class="services-adventages__badge">
                                <use xlink:href="img/sprite.svg#field-icon"></use>
                            </svg>
                        </div>
                        <p class="services-adventages__text">
                            Прогулки от 4 часов в день
                        </p>
                    </li>
                </ul>
            </li>
            <li class="services-adventages__list">
                <ul class="services-adventages__items">
                    <li class="services-adventages__item">
                        <div class="services-adventages__icon icon">
                            <svg class="services-adventages__badge">
                                <use xlink:href="img/sprite.svg#doctor-icon"></use>
                            </svg>
                        </div>
                        <p class="services-adventages__text">
                            Услуги коваля и ветеринара
                        </p>
                    </li>
                    <li class="services-adventages__item">
                        <div class="services-adventages__icon icon">
                            <svg class="services-adventages__badge">
                                <use xlink:href="img/sprite.svg#stable-icon"></use>
                            </svg>
                        </div>
                        <p class="services-adventages__text">
                            Отапливаемая конюшня, денник 4на4, горячая вода.
                        </p>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="services-tabs" id="services-tabs__wait">
            <form class="form" name="services-wait">
                <p class="form__heading">
                    заполните форму
                </p>

                <div class="form__item form__item--big">
                    <svg class="form__icon">
                        <use xlink:href="img/sprite.svg#name-icon"></use>
                    </svg>
                    <label class="visually-hidden" for="services-wait__name">
                        Введите Ваше имя
                    </label>
                    <input class="form__input form__req" type="text" id="services-wait__name" name="services-wait__name" placeholder="Ваше имя*">
                </div>

                <div class="form__group">
                    <div class="form__item">
                        <svg class="form__icon">
                            <use xlink:href="img/sprite.svg#phone-icon"></use>
                        </svg>
                        <label class="visually-hidden" for="services-wait__phone">
                            Введите Ваш номер телефона
                        </label>
                        <input class="form__input form__req" type="tel" id="services-wait__phone" name="services-wait__phone" placeholder="Ваш номер телефона*">
                    </div>
                    <div class="form__item">
                        <svg class="form__icon">
                            <use xlink:href="img/sprite.svg#email-icon"></use>
                        </svg>
                        <label class="visually-hidden" for="services-wait__email">
                            Введите Ваш e-mail
                        </label>
                        <input class="form__input form__req form__email" type="text" id="services-wait__email" name="services-wait__email" placeholder="Ваш e-mail*">
                    </div>
                </div>

                <div class="form__item form__item--big form__message">
                    <svg class="form__icon">
                        <use xlink:href="img/sprite.svg#textarea-icon"></use>
                    </svg>
                    <label class="visually-hidden" for="services-wait__textarea">
                        Введите Ваше сообщение
                    </label>
                    <textarea class="form__textarea form__input" id="services-wait__textarea" name="services-wait__textarea" placeholder="Ваше сообщение"></textarea>
                </div>

                <div class="form__agreement">
                    <input class="form__input form__check form__req check" type="checkbox" id="services-wait__agreement">
                    <span class="form__styler form__req styler"></span>
                    <label class="form__label form__label--agreement" for="services-wait__agreement">
                        Даю согласие на обработку
                    </label>
                    <a class="form__link" href="#">
                        персональных данных
                    </a>
                </div>

                <button class="button form__button" type="submit">
                    Отправить
                </button>
            </form>
        </div>
    </div>
</div>