<div class="services__item services__item--active services-walks" id="services-walks">
    <div class="services-top">
        <div class="services-top__picture" style="background-image: url('img/services/walk.jpg');"></div>
        <div class="services-top__descr">
            <h3 class="services-top__headding">
                прогулки и походы
            </h3>
            <div class="services-top__text">
                <p>
                    Мы можем предложить Вам прогулки от нескольких часов до походов на несколько суток с
                    опытными инструкторами.
                </p>
                <p>
                    В поход мы предоставляем палатки и воду, Вам нужно взять теплую одежду и еду. Все вещи мы
                    отвозим на место ночлега.
                </p>
            </div>
            <a class="services-top__link button" href="#services-tabs__walks">
                Записаться
            </a>
        </div>
    </div>

    <div class="services__body">
        <ul class="services-prices">
            <li class="services-prices__list">
                <div class="services-prices__bg" style="background-image: url('img/services/walks-bg.jpg');"></div>
                <article class="pricing-card">
                    <span class="pricing-card__name category">
                        прогулки
                    </span>
                    <ul class="pricing-card__items">
                        <li class="pricing-card__item">
                            <div class="pricing-card__icon icon">
                                <svg class="pricing-card__badge badge">
                                    <use xlink:href="img/sprite.svg#age2-icon"></use>
                                </svg>
                            </div>
                            <p class="pricing-card__text">
                                Взрослые и дети с 7 лет
                            </p>
                        </li>
                        <li class="pricing-card__item">
                            <div class="pricing-card__icon icon">
                                <svg class="pricing-card__badge badge">
                                    <use xlink:href="img/sprite.svg#time-icon"></use>
                                </svg>
                            </div>
                            <p class="pricing-card__text">
                                Продолжительность от 1 часа
                            </p>
                        </li>
                        <li class="pricing-card__item">
                            <div class="pricing-card__icon icon">
                                <svg class="pricing-card__badge badge">
                                    <use xlink:href="img/sprite.svg#tree-icon"></use>
                                </svg>
                            </div>
                            <p class="pricing-card__text">
                                По самым красивым местам
                            </p>
                        </li>
                        <li class="pricing-card__item">
                            <div class="pricing-card__icon icon">
                                <svg class="pricing-card__badge badge">
                                    <use xlink:href="img/sprite.svg#trainer-icon"></use>
                                </svg>
                            </div>
                            <p class="pricing-card__text">
                                Опытные инструктора
                            </p>
                        </li>
                    </ul>
                    <div class="pricing-card__price">
                        <span class="pricing-card__cost">
                            1000 руб/час
                        </span>
                    </div>
                </article>
            </li>
            <li class="services-prices__list">
                <div class="services-prices__bg" style="background-image: url('img/services/hiking-bg.jpg');"></div>
                <article class="pricing-card">
                    <span class="pricing-card__name category">
                        походы
                    </span>
                    <ul class="pricing-card__items">
                        <li class="pricing-card__item">
                            <div class="pricing-card__icon icon">
                                <svg class="pricing-card__badge badge">
                                    <use xlink:href="img/sprite.svg#age-icon"></use>
                                </svg>
                            </div>
                            <p class="pricing-card__text">
                                Взрослые и дети с 12 лет
                            </p>
                        </li>
                        <li class="pricing-card__item">
                            <div class="pricing-card__icon icon">
                                <svg class="pricing-card__badge badge">
                                    <use xlink:href="img/sprite.svg#time-icon"></use>
                                </svg>
                            </div>
                            <p class="pricing-card__text">
                                Продолжительность от 24 часов
                            </p>
                        </li>
                        <li class="pricing-card__item">
                            <div class="pricing-card__icon icon">
                                <svg class="pricing-card__badge badge">
                                    <use xlink:href="img/sprite.svg#tree-icon"></use>
                                </svg>
                            </div>
                            <p class="pricing-card__text">
                                По самым красивым местам
                            </p>
                        </li>
                        <li class="pricing-card__item">
                            <div class="pricing-card__icon icon">
                                <svg class="pricing-card__badge badge">
                                    <use xlink:href="img/sprite.svg#trainer-icon"></use>
                                </svg>
                            </div>
                            <p class="pricing-card__text">
                                Опытные инструктора
                            </p>
                        </li>
                        <li class="pricing-card__item">
                            <div class="pricing-card__icon icon">
                                <svg class="pricing-card__badge badge">
                                    <use xlink:href="img/sprite.svg#map-icon"></use>
                                </svg>
                            </div>
                            <p class="pricing-card__text">
                                Заранее продумываем маршрут
                            </p>
                        </li>
                        <li class="pricing-card__item">
                            <div class="pricing-card__icon icon">
                                <svg class="pricing-card__badge badge">
                                    <use xlink:href="img/sprite.svg#car-icon"></use>
                                </svg>
                            </div>
                            <p class="pricing-card__text">
                                Доставляем все вещи на ночлег
                            </p>
                        </li>
                    </ul>
                    <div class="pricing-card__price">
                        <span class="pricing-card__cost">
                            4000 руб/сутки
                        </span>
                    </div>
                </article>
            </li>
        </ul>

        <div class="services-tabs" id="services-tabs__walks">
            <span class="visually-hidden">
                Выберите, что Вы хотите приобрести
            </span>
            <ul class="services-tabs__items">
                <li class="services-tabs__item">
                    <a class="services-tabs__link services-tabs__link--active category" href="#services-tabs__walks-1">
                        прогулки
                    </a>
                </li>
                <li class="services-tabs__item">
                    <a class="services-tabs__link category" href="#services-tabs__walks-2">
                        походы
                    </a>
                </li>
            </ul>

            <!--Прогулки-->
            <div class="services-tabs__body services-tabs__body--active" id="services-tabs__walks-1">
                <form class="form" name="services-walks-1">
                    <p class="form__heading">
                        заполните форму для записи на конную прогулку
                    </p>

                    <div class="form__item form__item--big">
                        <svg class="form__icon">
                            <use xlink:href="img/sprite.svg#name-icon"></use>
                        </svg>
                        <label class="visually-hidden" for="services-walks__name-1">
                            Введите Ваше имя
                        </label>
                        <input class="form__input form__req" type="text" id="services-walks__name-1" name="services-walks__name-1" placeholder="Ваше имя*">
                    </div>

                    <div class="form__group">
                        <div class="form__item">
                            <svg class="form__icon">
                                <use xlink:href="img/sprite.svg#phone-icon"></use>
                            </svg>
                            <label class="visually-hidden" for="services-walks__phone-1">
                                Введите Ваш номер телефона
                            </label>
                            <input class="form__input form__req" type="tel" id="services-walks__phone-1" name="services-walks__phone-1" placeholder="Ваш номер телефона*">
                        </div>
                        <div class="form__item">
                            <svg class="form__icon">
                                <use xlink:href="img/sprite.svg#email-icon"></use>
                            </svg>
                            <label class="visually-hidden" for="services-walks__email-1">
                                Введите Ваш e-mail
                            </label>
                            <input class="form__input form__req form__email" type="text" id="services-walks__email-1" name="services-walks__email-1" placeholder="Ваш e-mail*">
                        </div>
                    </div>

                    <div class="form__group">
                        <div class="form__item">
                            <svg class="form__icon">
                                <use xlink:href="img/sprite.svg#calendar-icon"></use>
                            </svg>
                            <label class="visually-hidden" for="services-walks__calendar-1">
                                Выберите дату для прогулки
                            </label>
                            <input class="form__input form__calendar" type="text" placeholder="Выберите дату" id="services-walks__calendar-1" name="services-walks__calendar-1" readonly>
                        </div>
                        <div class="form__item">
                            <select class="form__select form__time" name="services-walks__time-1">
                                <option disabled selected>Выберите время</option>
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                                <option value="18:30">18:30</option>
                                <option value="19:00">19:00</option>
                                <option value="19:30">19:30</option>
                                <option value="20:00">20:00</option>
                                <option value="20:30">20:30</option>
                                <option value="21:00">21:00</option>
                            </select>
                        </div>
                    </div>

                    <div class="form__input form__item form__item--big form__amount">
                        <label class="form__label" for="services-walks__number-1">
                            Выберите продолжительность прогулки
                        </label>
                        <input class="form__number" type="number" min="1" value="1" id="services-walks__number-1" name="services-walks__number">
                    </div>

                    <div class="form__item form__item--big form__message">
                        <svg class="form__icon">
                            <use xlink:href="img/sprite.svg#textarea-icon"></use>
                        </svg>
                        <label class="visually-hidden" for="services-walks__textarea-1">
                            Введите Ваше сообщение
                        </label>
                        <textarea class="form__textarea form__input" id="services-walks__textarea-1" name="services-walks__textarea-1" placeholder="Ваше сообщение"></textarea>
                    </div>

                    <div class="form__agreement">
                        <input class="form__input form__check form__req check" type="checkbox" id="services-walks__agreement-1">
                        <span class="form__styler form__req styler"></span>
                        <label class="form__label form__label--agreement" for="services-walks__agreement-1">
                            Даю согласие на обработку
                        </label>
                        <a class="form__link" href="#">
                            персональных данных
                        </a>
                    </div>

                    <button class="button form__button" type="submit">
                        Отправить
                    </button>
                </form>
            </div>

            <!--Походы-->
            <div class="services-tabs__body" id="services-tabs__walks-2">
                <form class="form" name="services-walks-2">
                    <p class="form__heading">
                        заполните форму для записи на конный поход
                    </p>

                    <div class="form__item form__item--big">
                        <svg class="form__icon">
                            <use xlink:href="img/sprite.svg#name-icon"></use>
                        </svg>
                        <label class="visually-hidden" for="services-walks__name-2">
                            Введите Ваше имя
                        </label>
                        <input class="form__input form__req" type="text" id="services-walks__name-2" name="services-walks__name-2" placeholder="Ваше имя*">
                    </div>

                    <div class="form__group">
                        <div class="form__item">
                            <svg class="form__icon">
                                <use xlink:href="img/sprite.svg#phone-icon"></use>
                            </svg>
                            <label class="visually-hidden" for="services-walks__phone-2">
                                Введите Ваш номер телефона
                            </label>
                            <input class="form__input form__req" type="tel" id="services-walks__phone-2" name="services-walks__phone-2" placeholder="Ваш номер телефона*">
                        </div>
                        <div class="form__item">
                            <svg class="form__icon">
                                <use xlink:href="img/sprite.svg#email-icon"></use>
                            </svg>
                            <label class="visually-hidden" for="services-walks__email-2">
                                Введите Ваш e-mail
                            </label>
                            <input class="form__input form__req form__email" type="text" id="services-walks__email-2" name="services-walks__email-2" placeholder="Ваш e-mail*">
                        </div>
                    </div>

                    <div class="form__group">
                        <div class="form__item">
                            <svg class="form__icon">
                                <use xlink:href="img/sprite.svg#calendar-icon"></use>
                            </svg>
                            <label class="visually-hidden" for="services-walks__calendar-2">
                                Выберите дату для похода
                            </label>
                            <input class="form__input form__calendar" type="text" placeholder="Выберите дату" id="services-walks__calendar-2" name="services-walks__calendar-2" readonly>
                        </div>
                        <div class="form__item">
                            <select class="form__select form__time" name="services-walks__time-2">
                                <option disabled selected>Выберите время</option>
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                            </select>
                        </div>
                    </div>

                    <div class="form__input form__item form__item--big form__amount">
                        <label class="form__label" for="services-walks__number-2">
                            Выберите продолжительность похода
                        </label>
                        <input class="form__number" type="number" min="1" value="1" id="services-walks__number-2" name="services-walks__number-2">
                    </div>

                    <div class="form__item form__item--big form__message">
                        <svg class="form__icon">
                            <use xlink:href="img/sprite.svg#textarea-icon"></use>
                        </svg>
                        <label class="visually-hidden" for="services-walks__textarea-2">
                            Введите Ваше сообщение
                        </label>
                        <textarea class="form__textarea form__input" id="services-walks__textarea-2" placeholder="Ваше сообщение" name="services-walks__textarea-2"></textarea>
                    </div>

                    <div class="form__agreement">
                        <input class="form__input form__check form__req check" type="checkbox" id="services-walks__agreement-2">
                        <span class="form__styler form__req styler"></span>
                        <label class="form__label form__label--agreement" for="services-walks__agreement-2">
                            Даю согласие на обработку
                        </label>
                        <a class="form__link" href="#">
                            персональных данных
                        </a>
                    </div>

                    <button class="button form__button" type="submit">
                        Отправить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>